@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:wght@400;700&display=swap');

html {
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
}

html,
body {
  color: white;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 100%;

  padding-left: 48px;
  padding-right: 48px;

  margin: auto;

  @include tablet {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include mobile {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d1950;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(178, 121, 216, 0.959);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
  border-radius: 12px;
}

.Typewriter__wrapper {
  font-size: 36px !important;
  color: #be6adf !important;
  font-weight: 600 !important;

  @include tablet {
    font-size: 24px !important;
    font-weight: 500 !important;
    position: absolute !important;
  }
}

.Typewriter__cursor {
  font-size: 36px !important;
  color: #b562d6 !important;

  @include tablet {
    display: none !important;
  }
}
