.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  transition: all 0.3s ease-out 0s;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding-top: 5px;
  padding-bottom: 5px;

  @include tablet {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #181a27 !important;
  }
}

.logo {
  font-family: 'Concert One', cursive;
  font-size: 36px;
  color: #cd5ff8;
  transition: all 0.3s ease-out 0s;
}

.navColored {
  background-color: #1b1a2ea9;
  transition: all 0.3s ease-out 0s;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
}

.desktopMenu {
  display: flex;
  align-items: center;
  gap: 20px;

  @include tablet {
    display: none;
  }
}

.mobileMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #181a27;
  transform: translateY(-200%);
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;

  &.expanded {
    transform: translateY(0);
  }

  .link {
    padding: 11px 16px;
    width: 100%;
    text-align: center;

    &:hover {
      &::after {
        width: 0%;
      }
    }
  }

  .buttonGit {
    margin-top: 11px;
    padding: 11px 16px;
  }
}

.link {
  padding: 12px 16px;
  font-size: 20px;
  transition: all 0.3s ease-out 0s;
  font-weight: 400;
  position: relative;
  z-index: 1;
  color: white;

  &::after {
    content: '';
    position: relative;
    display: block;
    height: 5px;
    width: 0;
    border-radius: 16px;
    background: #c95bf5;
    bottom: -1px;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-out 0s;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.buttonGit {
  padding: 8px;
  background-color: #934cce5e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: 1px solid #623686;
  transition: all 0.3s ease-out 0s;

  svg {
    path {
      fill: #fff;
    }
  }

  &:hover {
    transform: translateY(-2px);
    background-color: #a24dd386;
    border-color: #a24dd386;
  }
}

.burger {
  cursor: pointer;
  display: none;
  position: relative;
  border: none;
  background: transparent;
  width: 27px;
  height: 26px;

  @include tablet {
    display: block;
  }
}

.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background: #cd5ff8;
}

.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #cd5ff8;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}

.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}

.burger.expanded::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}

.burger.expanded::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}
